
/* preset :  */
:root{
    --mainColorTheme: black;
    --secondColorTheme: white;
    --tiersColorTheme: grey;
    --linearGradientTheme : linear-gradient: 45deg(var(--mainColorTheme), var(--secondColorTheme));
}

/* reset :  */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: green;
    transition: all 0.1s ease-in-out;
}


html{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100vw;
    min-height: 100%;
    max-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.game_rules{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2rem;
}

.title{
    width: 100vw;
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.trium-force, .explications{
    width: 50%;
    padding: 5px;
}

/* .block_party */
.block_party{
    width: 100%;
    min-height: 100%;
    height: 750px;
    margin:10px auto;
    border: 1px solid var(--tiersColorTheme);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

/* .player-side */
.player-side{
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.player-side>h2{
    width: 100%;
}


/* .dashboard */
.dashboard{
    width: 33%;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: antiquewhite;
}

label{
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
}

.blockPseudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}


input.pseudo{
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

input.pseudo::placeholder{
    text-align: center;
}

.block_player-tag{
    width: 100%;
    text-align: center;
}

button.btnPlayerTag{
    border: none;
    background: none;
    width: 125px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 2rem;
}

button.btnPlayerTag:hover{
    transform: scale(1.5);
    transition: all 2ms ease-in-out;
}

p.player-Tag{
    font-size: 2rem;
    font-weight: 800;

}

.timer{
    font-size: 1.3rem;
}

.info-Party{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    color: antiquewhite;
}

.info-Player{
    font-size: 2rem;
    font-style: italic;
    color: green;
}

.playerScore{
    font-size: 2rem;
    color: antiquewhite;
}

.info-Computer{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    color: orange;
}

.computerScore{
    font-size: 2rem;
    color: antiquewhite;
}

.remaining-parties{
    font-size: 2rem;
    color: antiquewhite;
}

/* .computer-side */
.computer-side{
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.rock-card, .leaf-card, .scissors-card{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#rock-card_player:hover, #leaf-card_player:hover, #scissors-card_player:hover{
    border: 1px solid black;
    border-radius: 50%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    transition: all 2s ease-in-out;
}

.scissors-card{
    margin-top: 50px;
}

.timer{
    font-weight: bolder;
}

button.letPlay{
    border: none;
    background: none;
    width: 125px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 2rem;
}

button.letPlay:hover{
    transform: scale(1.5);
    transition: all 2ms ease-in-out;
}


.active{
    border: 1px solid black;
    border-radius: 50%;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    transition: all 2s ease-in-out;
}


/* footer  */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.social-links{
    width: 33%;
}

.dev-social-links{
    width: 33%;
}

.copyright{
    width: 100vw;
    color: antiquewhite;
    text-align: center;
}

